.root {
  width: 100%;
  padding: 0px 16px;
  position: relative;
  margin: var(--section-margin) 0;
}

.container {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  position: relative;
}

.image {
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 100% !important;
  }

  span {
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  .caption {
    color: #6d6d6d;
    font-size: var(--font-xs);
    margin: 0.5rem 0;
  }
}
