.root {
  width: 100%;
  padding: 0px 16px;
  position: relative;
  margin: var(--section-margin) 0;
}

.container {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.heading-left {
  width: 45%;

  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 32px;
  }
}

.heading-right {
  width: 45%;
  order: 2;
  text-align: end;

  @media (max-width: 1024px) {
    width: 100%;
    order: unset;
    text-align: start;
    margin-bottom: 32px;
  }
}

.content {
  width: 45%;
  order: 1;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
  row-gap: 16px;

  @media (max-width: 1024px) {
    justify-content: flex-start !important;
  }
}
